TOKEN=
GUILD_ID=
CLIENT_ID=
LEVEL_CHANNEL_ID=

LEVEL_ROLE_1=
LEVEL_ROLE_10=
LEVEL_ROLE_20=
LEVEL_ROLE_40=
LEVEL_ROLE_65=
LEVEL_ROLE_80=
LEVEL_ROLE_95=
LEVEL_ROLE_100=

VOICE_ROLE_1=
VOICE_ROLE_10=
VOICE_ROLE_20=
VOICE_ROLE_40=
VOICE_ROLE_65=
VOICE_ROLE_80=
VOICE_ROLE_100=

VNL_BOOSTER_ROLE_ID=

MONTHLY_RANK_CHANNEL_ID=

MONTHLY_CHAT_TOP1_ROLE_ID=
MONTHLY_CHAT_TOP2_ROLE_ID=
MONTHLY_CHAT_TOP3_ROLE_ID=

MONTHLY_VOICE_TOP1_ROLE_ID=
MONTHLY_VOICE_TOP2_ROLE_ID=
MONTHLY_VOICE_TOP3_ROLE_ID=

# Optional local/custom DB path.
# DB_PATH=

# Railway build variable:
RAILPACK_DEPLOY_APT_PACKAGES=fonts-dejavu-core fontconfig
